.complementary-products {
  padding: 25px 0 35px;
}

.complementary-products__list {
  padding: 0;
  margin: 0;
}

.complementary-products__item {
  list-style-type: none;
  border-top: 1px solid @special-color;
  padding-bottom: 20px;

  &:last-child {
    border-bottom: 1px solid @special-color;
  }
}

.complementary-products__name {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #222222;
}

.complementary-products__count,
.complementary-products__price {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: #444444;
}

.complementary-products__promo {
  background: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../../img/promo-cat.jpg") no-repeat center;
  width: 280px;
  height: 189px; // Временно
}

.complementary-products-promo__text {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}
