.live-example {
  background-color: #eaeaea;

  @media (min-width: @tablet-width) {
    background: linear-gradient(180deg, rgb(255, 255, 255) 55%, rgb(234, 234, 234) 55%);
  }

  @media (min-width: @desktop-width) {
    background: linear-gradient(180deg, rgb(255, 255, 255) 30%, rgb(242, 242, 242) 30%);
  }
}

.live-example__wrapper {
  font-family: "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #444444;
  padding: 25px 20px 40px;

  @media (min-width: @tablet-width) {
    padding: 43px 0 55px;
    width: 708px;
    margin: 0 auto;
    padding-bottom: 56px;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
    display: grid;
    grid-template-columns: 436px 1fr;
    padding-top: 0;
    padding-bottom: 65px;
  }
}

// .live-example__wrapper {
//   // display: flex;
//   // flex-direction: column;

//   @media (min-width: @desktop-width) {
//     flex-direction: row;
//   }


//   @media (min-width: @tablet-width) {
//     width: 710px;
//   }

//   @media (min-width: @desktop-width) {
//     width: 1220px;
//   }
// }

.live-example__text {
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 55px;
  }

  @media (min-width: @desktop-width) {
    grid-column: 1/2;
    margin-bottom: 70px;
  }
}

.live-example__img-wrapper {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: @desktop-width) {
    grid-column: 3/5;
    padding-top: 0;
    grid-row: 1/4;
  }
}

.live-example__img {
  margin-bottom: 15px;

  &--tablet {
    display: none;
  }

  @media (min-width: @tablet-width) {
    display: none;
    margin-bottom: 25px;

    &--tablet {
      display: block;
    }

    @media (min-width: @desktop-width) {
      margin-bottom: 0;
    }
  }
}

.live-example__range-slider-button {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
  border: none;
  cursor: pointer;
  background-color: transparent;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.live-example__range-slider {
  display: flex;
  width: 100%;
  padding: 0 25px;

  @media (min-width: @tablet-width) {
    width: 590px;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    grid-column: 3/5;
    grid-row: 4/5;
  }
}

.live-example__range-slider-input {
  width: 100%;
  min-width: 85px;
}
