.main-nav {
  position: absolute;
  top: 55px;
  left: 0;
  width: 100%;

  &--closed {
    display: none;

    @media (min-width: @tablet-width) {
      display: block;
      position: static;
      width: 440px;
    }

    @media (min-width: @desktop-width) {
      width: 500px;
    }
  }

  &--opened {
    display: block;
    z-index: 10;
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;
  background-color: #ffffff;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    background-color: transparent;
  }
}

.main-nav__list-item {
  border-top: 1px solid #e6e6e6;
  list-style-type: none;
  width: 100%;
  text-align: center;

  &:last-child {
    border-bottom: 1px solid #e6e6e6;

    @media (min-width: @tablet-width) {
      border: none;
    }
  }

  @media (min-width: @tablet-width) {
    border: none;
    width: auto;
  }
}

.main-nav__list-link {
  display: block;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  padding: 22px 0;
  transition: 0.2s;

  @media (min-width: @tablet-width) {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
  }

  @media (min-width: @desktop-width) {
    font-size: 20px;
    line-height: 30px;
    color: #ffffff;
  }

  &:hover {
    color: fade(#000000, 50%);

    @media (min-width: @desktop-width) {
      color: fade(#ffffff, 50%);
    }
  }

  &:active {
    color: fade(#000000, 25%);

    @media (min-width: @desktop-width) {
      color: fade(#ffffff, 25%);
    }
  }

  &--catalog {
    @media (min-width: @desktop-width) {
      color: #111111;
    }

    &:hover {
      color: fade(#111111, 50%);
    }

    &:active {
      color: fade(#111111, 25%);
    }
  }

  &--current {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      right: 0;
      left: 0;
      bottom: 0;
      height: 2px;
      background-color: @button-color;

      @media (min-width: @tablet-width) {
        bottom: 15px;
      }
    }
  }

  &--current-main-page {
    &::after {
      @media (min-width: @desktop-width) {
        background-color: #ffffff;
      }
    }
  }
}
