.main-nav {
  position: absolute;
  top: 55px;
  left: 0;
  width: 100%;
  display: none;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  z-index: 10;
  background-color: #ffffff;

  @media (min-width: @tablet-width) {
    display: flex;
  }
}

.main-nav__list-item {
  border-top: 1px solid #e6e6e6;
  list-style-type: none;
  width: 100%;
  text-align: center;

  &:last-child {
    border-bottom: 1px solid #e6e6e6;

    @media (min-width: @tablet-width) {
      border: none;
    }
  }

  @media (min-width: @tablet-width) {
    border: none;
  }
}

.main-nav__list-link {
  display: block;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  padding: 22px 0;

  @media (min-width: @tablet-width) {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
  }

  @media (min-width: @desktop-width) {
    color: #e6e6e6;
  }
}
