.page-header {
  padding: 10px 0 17px 0;

  @media (min-width: @tablet-width) {
    padding: 25px 30px 20px 30px;
  }

  @media (min-width: @desktop-width) {
    padding: 25px 110px 20px 110px;
  }
}

.page-header__wrapper {
  display: flex;
  margin: 0 auto;
  position: relative;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
  }
}

.page-header__logo-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    width: 174px;
  }
}

.page-header__logo {
  display: flex;
  justify-content: space-between;
  width: 192px;
  transition: 0.2s;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}
