.page-contacts {
  &--background {
    background-color: @basic-color;
  }

  &--desktop {
    position: relative;
  }
}

// .page-contacts__wrapper {

//   @media (min-width: @tablet-width) {
//     width: 710px;
//   }

//   @media (min-width: @desktop-width) {
//     width: 1220px;
//   }
// }

.page-contacts__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 26px 20px;

  @media (min-width: @desktop-width) {
    position: absolute;
    top: 146px;
    left: 130px;
    width: 565px;
    height: 200px;
    background-color: #ffffff;
  }
}

.page-contacts__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
  margin: 0;
  min-width: 140px;
}

@media (min-width: 660px) {
  .page-contacts__title br {
    display: none;
  }
}

.page-contacts__adress {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
  margin: 0;
  min-width: 140px;
}

.page-contacts__map-wrapper {
  width: 100%;
  height: 362px;

  @media (min-width: @tablet-width) {
    height: 396px;
  }

  @media (min-width: @desktop-width) {
    height: 400px;
  }
}
