.page-contacts {
  padding-top: 26px;

  &--background {
    background-color: @basic-color;
  }
}

.page-contacts__wrapper {
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    width: 710px;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
  }
}

.page-contacts__header {
  display: flex;
  justify-content: space-between;
}

.page-contacts__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
}

.page-contacts__adress {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
}

.page-contacts__map-wrapper {
  margin-top: 25px;
}
