.program-form {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
}

.program-form__fieldset {
  border: none;
}

.program-form__input,
.program-form__text-area {
  border: 1px solid #e7e7e7;
  padding: 14px 15px;
  resize: none;

  &::placeholder {
    font-family: "Oswald", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: #444444;
  }
}

.program-form__list {
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  padding: 20px 0;

  &--addition {
    border: none;
  }
}

.program-form__item {
  list-style-type: none;
  padding-bottom: 13px;
}

.program-form__control-text {
  color: #222222;

  &--addition {
    color: #000000;
  }
}

.program-form__title {
  text-transform: none;
  margin-bottom: 35px;
}

.program-form__text-area {
  border: 1px solid #e7e7e7;
}

.program-form__button {
  border: none;
}

.program-form__required-text {
  display: inline-block;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-transform: none;
  color: #000000;
  margin-top: 21px;
}
